.section {
  padding: $m-gutter;
}

.container {
  max-width: 65rem;
  margin: 0 auto;

  > * + * {
    margin: $m-gutter;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -$m-gutter;

  &__item {
    flex-grow: 1;
    width: calc(100% / #{$grid-col-num} - #{$m-gutter} - #{$m-gutter});
    margin: $m-gutter;

    @for $i from 1 through $grid-col-num {
      &--#{$i} {
        $multiplier: $i / $grid-col-num;

        flex-grow: 0;
        width: calc(100% * #{$multiplier} - #{$m-gutter} - #{$m-gutter});
      }
    }

    &--center {
      margin: $m-gutter auto;
    }

    @media (min-width: $b-phone + 1) and (max-width: $b-tablet + 1) {
      width: calc(100% / #{$grid-col-num-tablet} - #{$m-gutter} - #{$m-gutter});
    }
  }

  @media (max-width: $b-phone) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.row {
  display: flex;
  align-items: center;

  &__left {
    display: flex;
    flex: 1 0 0;
  }

  &__right {
    display: flex;
    flex: 1 0 0;
    justify-content: flex-end;
  }
}
