body {
  margin: 0;
  background: $c-white;
  color: $c-text;

  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

a {
  color: darken($c-secondary, 20%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
